html {
  padding: 2vmin;
}

#bingocard {
  width: 75vmin;
  padding: 1vmin 2vmin 1.5vmin;
  text-align: center;
  margin: auto;

  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.5vmin;

  #title {
    font-size: 7vmin;
    padding-bottom: 1vmin;
    color: transparent;
    background: url("../img/logo.png") no-repeat center center;
    background-size: contain;
    -webkit-print-color-adjust: exact;
  }

  .box {
    position: relative;
    display: inline-table;
    width: 13.5vmin;
    height: 13.5vmin;
    border: 2px solid black;
    border-radius: 2vmin;
    margin: .25vmin;
    vertical-align: middle;
    cursor: pointer;

    .content {
      display: table-cell;
      vertical-align: middle;
      padding: 1vmin;
    }

    .content-size-0 {
      font-size: 3.2vmin;
    }

    .content-size-1 {
      font-size: 2.8vmin;
    }

    .content-size-2 {
      font-size: 1.9vmin;
    }

    .content-size-3 {
      font-size: 1.7vmin;
    }

    .content-size-4 {
      font-size: 1.5vmin;
    }
  }


  #footer {
    text-align: right;
    font-size: 7/8vmin;
    padding-top: 1vmin;
  }
}