html {
    background-color: #FCF7EF;
}

#bingocard {
    background: #E9D7AD;
    box-shadow: 0 .5vh 1vh rgba(0, 0, 0, .25);
}

#bingocard .box {
    border: 2px solid #98815A;
    box-shadow: 0 0 .25vh #98815A;
    background-color: hsla(51,66%,71%,1);
}

#bingocard .box:nth-child(even) {
    background-color: hsla(37,68%,96%,1);
}

#bingocard .box.box-center {
    background: hsla(52,60%,53%,1) url("../img/star.png") no-repeat center center;
    background-size: contain;
}

#bingocard .box.box-selected {
    border-color: #03a9f4;
    box-shadow: 0 0 2vh .5vh #03a9f4;
    background-color: hsla(179, 66%, 61%, 1);
}
#bingocard .box:nth-child(even).box-selected {
    background-color: hsla(165, 68%, 86%, 1);
}
#bingocard .box.box-center.box-selected {
    background-color: hsla(180, 60%, 48%, 1);
}